
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="body_login">
    <div class="div_login">
        {% block 'conteudo' %}
        <form class="login_form" method="POST">{% csrf_token %}
            {% if messages %}
                {% for mensagem in messages%}
                    <script>
                        alert("{{mensagem}}");
                    </script>
                    
                {% endfor %}
            {% endif %}
            <span>Usuario</span>
            <input type="text" name="usuario" id="">
            <span>Senha</span>
            <input type="password" name="senha" id="">
            <button type="submit">Login</button>
            <a href="{% url 'register'%}">cadastre-se</a>
        </form>
        {% endblock %}
    </div>

</body>
</html>